{% extends 'office/base.html.twig' %}

{% block contenu %}

    <a class="small_link" href="{{ path('index_skills') }}">&lt;&lt; Retour</a>

    <h3>Ajouter une catégorie</h3>

    {{ form_start(form, { 'attr' : { 'id' : 'project-form' }}) }}
        {{ form_row(form.title, { 'attr' : { 'class' : 'form-control' } }) }}
        {{ form_row(form.icon, { 'attr' : { 'class' : 'form-control' } }) }}

    <button class="center-button btn btn-success mt-2" type="submit">
        <span class="oi oi-plus" title="plus" aria-hidden="true"></span> Ajouter la catégorie
    </button>
    {{ form_end(form) }}

{% endblock %}
