{% extends 'base.html.twig' %}

{% block description %}
{% endblock %}

{% block title %}Back-office du portfolio{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{{ asset('css/iconic/css/open-iconic-bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/office/style.css') }}" rel="stylesheet">
    <meta name="robots" content="noindex" />
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/office.js') }}"></script>
{% endblock %}

{% block body %}

    <h2>Gestion du <a href="{{ path('home') }}">portfolio</a></h2>

    <div id="contenu" class="container">
        {% block contenu %}

        {% endblock %}
    </div>

    {% if app.user is not null %}
        <div id="connected-as">
            Connecté en tant que <span class="font-weight-bold">{{ app.user.username }}</span>.
            <a id="logout" href="{{ path('logout') }}">Déconnexion</a>
        </div>
    {% endif %}

{% endblock %}
