{% extends 'office/base.html.twig' %}

{% block contenu %}

    {% for message in app.flashes('success') %}
        <div id="successes">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Gérer les projets</h3>

    <button onclick="location.href='{{ path('add_project') }}'" class="center-button btn btn-success">
        Ajouter un projet
    </button>

    <table id="projets" class="table table-bordered table-striped table-hover text-center">
        <thead>
            <tr>
                <th scope="col" width="20%">Titre</th>
                <th scope="col" width="15%">Période</th>
                <th scope="col" width="15%">Groupe</th>
                <th scope="col" width="40%">Résumé</th>
                <th scope="col" width="10%">Options</th>
            </tr>
        </thead>

        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.titre }}</td>
                <td>{{ projet.periode }}</td>
                <td>{{ projet.compoGroupe }}</td>
                <td>{{ projet.catchPhrase }}</td>
                <td>
                    <button onclick="location.href='{{ path('show_project', {'id': projet.id}) }}'" class="btn btn-primary btn-block">
                        Afficher
                    </button>
                    <a href="{{ path('delete_project', {'id': projet.id}) }}"
                       onclick="return confirm('Voulez-vous vraiment supprimer le projet {{ projet.titre }} ?')">
                        <button class="btn btn-danger btn-block">Supprimer</button>
                    </a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}


