{% extends 'office/base.html.twig' %}

{% block contenu %}

    <a class="small_link" href="{{ path('office') }}">&lt;&lt; Retour</a>

    <h3>Évenements de la timeline</h3>

    <button class="btn btn-success center-button" onclick="location.href='{{ path('add_timeline') }}'">
        <span class="oi oi-plus" aria-hidden="true"></span> Ajouter un élément
    </button>

    <table id="projets" class="table table-bordered table-striped table-hover text-center">

        <tr>
            <th width="20%">Titre</th>
            <th width="15%">Période</th>
            <th width="40%">Description</th>
            <th width="10%">Actuel ?</th>
            <th width="15%">Options</th>
        </tr>

        {% for elem in elements %}

            <tr>
                <td><b>{{ elem.title }}</b> <br/>
                    (#{{ elem.orderIndex }})</td>
                <td>{{ elem.period }}</td>
                <td>{{ elem.description|raw }}</td>
                <td>{% if elem.current %}
                        <span class="oi oi-check" title="Élément actuel" aria-hidden="true"></span>
                    {% else %}
                        <span class="oi oi-x" onclick="location.href='{{ path('make_current', {'id' : elem.id}) }}'"
                              style="cursor: pointer;"
                              aria-hidden="true"></span>
                    {% endif %}</td>
                <td>
                    <button onclick="location.href='{{ path('edit_timeline', {'id' : elem.id}) }}'" class="btn btn-warning btn-block">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Modifier
                    </button>
                    <button class="btn btn-danger btn-block">
                        <span class="oi oi-trash" aria-hidden="true"></span> Supprimer
                    </button>
                    <button onclick="location.href='{{ path('order_timeline_up', {'id' : elem.id}) }}'" class="btn btn-custom btn-block">
                        <span class="oi oi-arrow-thick-top" title="Remonter" aria-hidden="true"></span> Remonter
                    </button>

                </td>
            </tr>

        {% endfor %}



    </table>

{% endblock %}
