{% extends 'base.html.twig' %}

{% block body %}

{{ parent() }}
<div id="nav">
    <div id="desktop-nav" data-aos="fade-down" data-aos-duration="1000">
        <a href="#corps">Présentation</a>
        <a href="#parcours">Diplômes</a>
        <a href="#skills">Compétences</a>
        <a href="#projects">Projets</a>
        <a href="#contact">Contact</a>
    </div>
    <div id="mobile-nav" onclick="showMobileMenu()">
        <span>Menu</span>
    </div>
</div>
<div id="mobile-nav-overlay">
    <a href="#corps" onclick="hideMobileMenu()">Présentation</a>
    <a href="#parcours" onclick="hideMobileMenu()">Diplômes</a>
    <a href="#skills" onclick="hideMobileMenu()">Compétences</a>
    <a href="#projects" onclick="hideMobileMenu()">Projets</a>
    <a href="#contact" onclick="hideMobileMenu()">Contact</a>
</div>
<div id="fond"></div>
<div id="basic" data-aos="zoom-out" data-aos-duration="3000">
    <h1>{{ info.title }}</h1>
    <h2 id="etu">{{ info.subtitle }}</h2>
</div>
<div id="corps" class="justRight">
    <h2 data-aos="fade-zoom-in" data-aos-duration="400">
        {{ intro.title }}
    </h2>
    <div id="presentation" data-aos="fade-right">
        <img src="{{ intro.photoPath }}" />
        <div class="pres-text">
            {{ intro.text|raw }}
        </div>
    </div>

    <div id="parcours" class="justRight" >
        <h2 data-aos="fade-zoom-in" data-aos-duration="400">Mon parcours et diplômes</h2>
        <div class="timeline" data-aos="fade-right" data-aos-duration="400">
            {% set i = 0 %}
            {% set last = timeline|length %}
            {% set current = false %}
            {% set post_current = false %}

            {% for time in timeline %}
                {% set i = i + 1 %}
                {% if time.current == 1 %}
                    {% set current = true %}
                {% endif %}
                <div class="time-cube{% if i == 1 %} first{% endif %}
                                     {% if i == last %} last{% endif %}
                                     {% if post_current == true %} future{% endif %}
                                     {% if current == true %} current{% endif %}">
                    {% if i < last %}
                        <img class="arrow" {% if current == false and post_current == false %}src="{{ asset('img/right-arrow-color.svg') }}"
                                {% else %}src="{{ asset('img/right-arrow-grey.svg') }}"{% endif %}>
                    {% endif %}
                    <div class="time-cube-content">
                        <div class="time-cube-title">{{ time.title }}</div>
                        <div class="time-cube-period">{{ time.period }}</div>
                        <div class="time-cube-description">{{ time.description|raw }}</div>
                    </div>
                    {% if time.current == 1 %}
                        {% set post_current = true %}
                    {% endif %}
                    {% if current == true %}
                        {% set current = false %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="skills" class="justRight">
        <h2 data-aos="fade-zoom-in" data-aos-duration="400">Compétences et personnalité</h2>
        <div id="contain">
            {% set i = 0 %}
            {% set last = skills|length %}
            {% for skill in skills %}
                {% set rows = skill.skillRows %}
                <div class="element" data-aos="fade-zoom-in" data-aos-duration="400" data-aos-delay="{{ i * 400 }}">
                    {% if skill.iconPath %}
                        <img class="skill-icon svg" src="{{ asset(skill.iconPath) }}">
                    {% endif %}

                    <h3>{{ skill.title }}</h3>

                    {% for row in rows %}
                        <p>{{ row.text|raw }}</p>
                    {% endfor %}
                </div>
            {% set i = i + 1 %}
                {% if i < last %}
                    <hr class="skills-hr">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="projects" class="justRight">
        <h2 data-aos="fade-zoom-in" data-aos-duration="400">Mes projets</h2>
        <p class="infoclic" data-aos="fade-zoom-in" data-aos-duration="400">(Cliquez sur les projets pour plus d'informations)</p>
        <div id="flexcontain">
            {% set cpt = 0 %}
            {% for projet in projets %}

            <div onclick="showProject('#projet{{ projet.id }}')" data-aos="flip-down" data-aos-duration="125" data-aos-delay="{{ 100 * (cpt) }}"
                    {% if photos[projet.id]['thumb'] is not null %}
                        style="background: url('{{ asset(photos[projet.id]['thumb'].path) }}');
                               background-position: center; background-size: cover"
                    {% endif %} >

                {% if photos[projet.id]['thumb'] is null %}
                    <div class="noIMG"></div>
                {% endif %}
                <div class="overlay"><p><b>{{ projet.titre }}</b><br />{{ projet.catchPhrase }}</p></div>
                {% if projet.state %}
                    <div class="offset-state">
                        {% include 'office/states/preview.html.twig' with {
                            'state' : projet.state
                        } %}
                    </div>
                {% endif %}
            </div>
                {% set cpt = cpt + 1 %}

            {% endfor %}
        </div>
    </div>
    <div id="blackBackground" onclick="hideProject()"></div>
    <div id="all-projects">
        <span class="close" onclick="hideProject()">&times;</span>

        {% for projet in projets %}

        <div id="projet{{ projet.id }}" class="projet invisible">
            <h2>{{ projet.titre }}</h2>
            {% for photo in photos[projet.id]['photos'] %}
                <img{% if photo is same as(photos[projet.id]['photos'][0]) %} class="visible"{% else %} class="invisible" {% endif %}src="{{ photo.path }}">{% endfor %}

            {% if photos[projet.id]['photos']|length > 1 %}
                <p><span class="photoSwap" onclick="prevPhoto()">&lt;&lt; Photo precédente </span>|<span class="photoSwap" onclick="nextPhoto()"> Photo suivante &gt;&gt;</span></p>
            {% endif %}
            <p><i>{{ projet.periode }} - ({{ projet.compoGroupe }})</i></p>
            <p><b>Langage(s) utilisé(s) :</b> {{ projet.langages }}</p>
            <p><b>Description : </b>{{ projet.description|raw }}</p>
        </div>

        {% endfor %}

        <div id="navProjectBar">
            <span class="previous" onclick="previousProject()">&lt;</span><span class="next" onclick="nextProject()">&gt;</span>
        </div>
    </div>
    <div id="contact" class="justRight" data-aos="fade-zoom-in" data-aos-duration="400">
        <h2>Contact</h2>
        <div id="contact-elements" data-aos="fade-up" data-aos-anchor-placement="top">
            <div id="mail">
                <a href="mailto:contact@sachafolcke.fr" class="flaticon-gmail"><h3>M'envoyer un mail</h3></a>
            </div>
            <div id="cv">
                <a href="{{ asset('pdf/CV_FOLCKE_SACHA.pdf') }}" class="flaticon-cv" target="_blank"><h3>Voir mon CV</h3></a>
            </div>
            <div id="linkedIn">
                <a href="https://www.linkedin.com/in/sacha-folcke" target="_blank" class="flaticon-linkedin-sign"><h3>Mon compte LinkedIn</h3></a>
            </div>
        </div>
    </div>
</div>
    <div id="footer">
        <div id="office-access" title="Accèder à la gestion du portfolio"><a href="{{ path('office') }}"><span class="oi oi-pencil"></span></a></div>
    </div>


{% endblock %}
