{% extends 'office/base.html.twig' %}

{% block contenu %}
    <a class="small_link" href="{{ path('office') }}">&lt;&lt; Retour</a>
    <h3>Ajouter un nouveau projet</h3>

    {{ form_start(form, { 'attr' : { 'id' : 'project-form' }}) }}
        {{ form_row(form.titre, { 'attr' : { 'class' : 'form-control' } }) }}
        {{ form_row(form.catchPhrase, { 'attr' : { 'class' : 'form-control' } }) }}
        {{ form_row(form.periode, { 'attr' : { 'class' : 'form-control' } }) }}
        {{ form_row(form.compoGroupe, { 'attr' : { 'class' : 'form-control' } }) }}
        {{ form_row(form.langages, { 'attr' : { 'class' : 'form-control' } }) }}
        {{ form_row(form.description, { 'attr' : { 'class' : 'form-control' } }) }}
        {{ form_row(form.state, { 'attr' : { 'class' : 'form-control' } }) }}
        <div class="checkbox-inline">
            {{ form_row(form.online) }}
        </div>

        <button class="center-button btn btn-success" type="submit">
            <span class="oi oi-plus" title="plus" aria-hidden="true"></span> Ajouter le projet !
        </button>
    {{ form_end(form) }}

    <a class="small_link" href="{{ path('office') }}">&lt;&lt; Retour</a>
{% endblock %}
