{% extends 'office/base.html.twig' %}

{% block contenu %}
    <h3>Modifier un projet</h3>

    <div id="project_form">
        {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.catch_phrase) }}
        {{ form_row(form.periode) }}
        {{ form_row(form.compo_groupe) }}
        {{ form_row(form.langages) }}
        {{ form_row(form.description) }}
        <button class="center_button" type="submit">Modifier le projet !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}