{% extends 'office/base.html.twig' %}

{% block contenu %}

    {% for message in app.flashes('success') %}
        <div id="successes">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div id="errors">
            {{ message }}
        </div>
    {% endfor %}

    <a class="small_link" href="{{ path('office') }}">&lt;&lt; Retour</a>
    <h3>Gestion du projet "{{ projet.titre }}"</h3>
        <div style="display: flex; justify-content: center; margin-bottom: 20px;">
            <button onclick="location.href='{{ path('edit_project', {'id' : projet.id}) }}'" class="btn btn-warning">
                <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span> Modifier
            </button>
            <a href="{{ path('delete_project', {'id': projet.id}) }}" style="text-decoration: none"
               onclick="return confirm('Voulez-vous vraiment supprimer le projet {{ projet.titre }} ?')">
                <button class="btn btn-danger">
                    <span class="oi oi-trash" title="trash" aria-hidden="true"></span> Supprimer
                </button>
            </a>
        </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th width="20%">Titre</th>
            <td width="80%">{{ projet.titre }}</td>
        </tr>
        <tr>
            <th>Résumé</th>
            <td>{{ projet.catchPhrase }}</td>
        </tr>
        <tr>
            <th>Période</th>
            <td>{{ projet.periode }}</td>
        </tr>
        <tr>
            <th>Groupe</th>
            <td>{{ projet.compoGroupe }}</td>
        </tr>
        <tr>
            <th>Langages utilisés</th>
            <td>{{ projet.langages }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ projet.description }}</td>
        </tr>
        <tr>
            <th>Visible ?</th>
            <th>
                {% if projet.online %}
                    <span class="oi oi-check" title="check" aria-hidden="true"></span> Oui
                {% else %}
                    <span class="oi oi-x" title="x" aria-hidden="true"></span> Non
                {% endif %}
            </th>
        </tr>
    </table>

    <h4>Photos du projet</h4>

    <button onclick="location.href='{{ path('add_photo', {'id': projet.id}) }}'" class="center-button btn btn-custom">
        <span class="oi oi-image" title="image" aria-hidden="true"></span> Ajouter une photo au projet
    </button>

    <h5>Miniature du projet</h5>

    {% if thumbnail is empty %}
        <p class="text-center">
            Ce projet de possède pas de miniature
        </p>
    {% else %}
        {% include 'office/projects/picture_preview.html.twig' with {
            'photos' : thumbnail
        } %}
    {% endif %}

    <h5>Images d'aperçu du projet</h5>

    {% if photos is empty %}
        <p class="text-center">
            Aucune photo n'a été associée à ce projet, ajoutez-en !</p>
    {% else %}
        {% include 'office/projects/picture_preview.html.twig' with {
            'photos' : photos
        } %}
    {% endif %}

        <a class="small_link" href="{{ path('office') }}">&lt;&lt; Retour</a>

{% endblock %}

